$color-primary: #03bf7a;
$color-primary-light: #04f29b;
$color-primary-dark: #028c59;

$color-gray-light-1: #eaecf3;
$color-gray-light-2: #e2e2e2;
$color-gray-light-3: #707070;
$color-gray-dark-1: #5b5b6b;
$color-gray-dark-2: #3d3d48;
$color-gray-dark-3: #292931;

$color-white: #ffffff;
$color-black: #000000;

$color-error: #e74c3c;
$color-warning: #e67e22;
$color-success: #03bf7a;
$color-info: #f1c40f;

$container-mobile: 90%;

$font-size-reg: 1.8rem;

$border-radius: 12px;

$box-shadow-solid: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-light: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-reg: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-spread: 0 19px 38px rgba(0, 0, 0, 0.3),
  0 15px 12px rgba(0, 0, 0, 0.22);
