@import "scss/variables.scss";

:host {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: $container-mobile;
  max-height: 100vh;
  overflow: scroll;
}

._title {
  margin-bottom: 2.5rem;
}

.form-group {
  &:not(:last-child) {
    margin-bottom: 2.3rem;
  }
}

.form__input-text {
  background-color: $color-gray-light-1;
  border: solid 1px transparent;
  border-radius: $border-radius;
  color: $color-black;
  display: inline-block;
  font-weight: normal;
  line-height: 1.7;
  padding: 1.4rem 2rem;
  text-transform: uppercase;
  transition: all 0.3;
  width: 100%;

  &:focus {
    outline: none;
    border: solid 1px $color-gray-light-3;
  }
}
._link {
  color: $color-gray-light-3;
  display: block;
  text-transform: uppercase;
  text-align: center;
}
