<div class="_head">
  <img
    class="_logo thumbnail thumbnail--big"
    src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/calendar-512.png"
    alt="event logo"
  />

  <!-- Max & min 3 -->
  <ul class="_infos">
    <li class="_infos-item">
      <h4 class="_infos-title">12</h4>
      <span class="_infos-sub-title">Teams</span>
    </li>
    <li class="_infos-item">
      <h4 class="_infos-title">300$</h4>
      <span class="_infos-sub-title">Bourse</span>
    </li>
    <li class="_infos-item">
      <h4 class="_infos-title">6</h4>
      <span class="_infos-sub-title">Games</span>
    </li>
  </ul>
</div>

<div class="_body">
  <div class="_register">
    <h2 class="_date">12 April 2019</h2>
    <app-btn color="primary" sizing="full-width">Register to event</app-btn>
  </div>

  <ul class="_nav">
    <li class="_nav-item">
      <a href="#">Details</a>
    </li>
    <li class="_nav-item">
      <a href="#">Calendrier</a>
    </li>
    <li class="_nav-item">
      <a href="#">Classement</a>
    </li>
  </ul>

  <div class="_details-block">
    <h3 class="heading-3">Location</h3>
    <p>
      Google map here!
    </p>
  </div>

  <div class="_details-block">
    <h3 class="heading-3">Description</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui atque
      doloribus similique necessitatibus suscipit possimus sequi rerum animi?
      Atque voluptatum corrupti sapiente iure dolor ab aut blanditiis debitis
      soluta.
    </p>
  </div>

  <div class="_details-block">
    <h3 class="heading-3">Rules</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui atque
      doloribus similique necessitatibus suscipit possimus sequi rerum animi?
      Atque voluptatum corrupti sapiente iure dolor ab aut blanditiis debitis
      soluta.
    </p>
  </div>
</div>
