<div class="_game-status">
  <h3 class="_game-time">18.00</h3>
  <app-badge status="over">Game Over</app-badge>
</div>

<div class="_box">
  <div class="_home-team">
    <div class="_team-infos">
      <img
        class="_team-image thumbnail"
        src="https://image.freepik.com/free-vector/e-sports-team-logo-template-with-ninja_23-2147830862.jpg"
        alt=""
      />
      <h3 class="_team-name">
        Les ninjas
        <span class="_team-players">Kevin - Jessy</span>
      </h3>
    </div>
    <span class="_team-score">0</span>
  </div>
  <span class="_separator">Vs</span>
  <div class="_visiting-team">
    <div class="_team-infos">
      <img
        class="_team-image thumbnail"
        src="https://image.freepik.com/free-vector/e-sports-team-logo-template-with-gorilla_23-2147831360.jpg"
        alt=""
      />
      <h3 class="_team-name">
        Les petit's bum
        <span class="_team-players">Jordan - Gabriel</span>
      </h3>
    </div>
    <span class="_team-score">0</span>
  </div>
</div>
